:root {
  --accent-color: #2196f3;
  --text-color1: #212121;
  --text-color2: #757575;
  --text-color3: #fff;
  --text-color4: rgba(255, 255, 255, 0.6);
  --text-color5: #000;
  --background-color1: #2f303a;
  --background-color2: #fff;
  --background-color3: #f5f4fa;
  --icon-color: #afb1b8;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: solid red;
  margin: 0 auto;
}

/* font-family */

body {
  font-family: Roboto;
}

/* header */

.header-container {
  display: flex;
  justify-content: center;
}

.header-list {
  display: flex;
  gap: 50px;
  margin-right: 318px;
  margin-left: 93px;
  align-items: center;
}

.header-icon-post {
  width: 16px;
  height: 12px;
  fill: var(--text-color2);
}

.header-icon-tel {
  width: 10px;
  height: 16px;
  fill: var(--text-color2);
}

.header-icon-tel:hover {
  fill: var(--accent-color);
}

.header-icon-post:hover {
  fill: var(--accent-color);
}

.header-list-adres {
  display: flex;
  gap: 30px;

}

.header-item-ader {
  display: flex;
  align-items: center;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

header {
  background-color: var(--background-color2);
}

.header-span {
  color: var(--text-color5);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-title {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-link {
  color: var(--text-color1);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-email {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header-email:hover{
  color: var(--accent-color);
}

.header-tel:hover{
  color: var(--accent-color);
}

.header-tel {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* hero */

.hero {
  background-color: var(--background-color1);
}

.hero-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../pictures/frends.png);
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-title {
  color: var(--text-color3);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.hero-button {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color3);
}

/* activity */

.activity {
  background-color: var(--background-color2);
}

.acti-item:first-child::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(../pictures/antenna.png);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-position: center;
  box-sizing: content-box;
  border-radius: 4px;
}

.acti-item:nth-child(2)::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(../pictures/clock.png);
  margin-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-position: center;
  border-radius: 4px;
}

.acti-item:nth-child(3)::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(../pictures/diagram.png);
  margin-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-position: center;
  border-radius: 4px;
}

.acti-item:nth-child(4)::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(../pictures/astronaut.png);
  margin-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-position: center;
  border-radius: 4px;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.acti-item::before {
  background: var(--background-color3);
}

.activity-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.activity-photo {
  width: 100%;
}

.activity-subtitle {
  color: var(--text-color1);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.activity-text {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-list {
  margin-bottom: 94px;
}

.activity-title {
  color: var(--text-color1);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* personnel */

.personnel {
  background-color: var(--background-color3);
}

.personnel-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.personnel-icon:hover {
  fill: var(--text-color3);
}

.personnel-iteam:hover {
  background-color: var(--accent-color);
  fill: var(--background-color2);
}

.personnel-list-svg {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.personnel-subtitle {
  margin-bottom: 10px;
}

.personnel-iteam {
  border-radius: 25px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  width: 44px;
height: 44px;
flex-shrink: 0;
}

.personnel {
  padding-top: 94px;
  padding-bottom: 94px;
}

.personnel-item {
  background-color: var(--background-color2);
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.personnel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.personnel-list {
  display: flex;
  gap: 30px;
}

.personnel-photo {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.personnel-title {
  color: var(--text-color1);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.personnel-subtitle {
  color: var(--text-color1);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.personnel-name {
  color: var(--text-color2);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* costomers */

.costomers-icon {
  fill: var(--icon-color);
  width: 170px;
  height: 92px;
}

.costomers-icon:hover {
  fill: var(--accent-color);
}

.costomers-list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
  justify-content: center;
  margin-top: 50px;
}

.costomers-item {
  outline: solid 1px var(--icon-color);
border-radius: 5px;
}

.costomers-item:hover {
  outline: solid 1px var(--accent-color);
}

.costomers-title {
  font-family: "Roboto";
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: var(--text-color1);
margin-top: 94px;
}

/* footer */

footer {
  background-color: var(--background-color1);
}

.footer-subtitle {
font-family: "Roboto";
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
margin-top: 12px;
margin-bottom: 20px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-subcontainer:nth-child(2) {
  margin-left: 70px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color3);
}

.footer-iteam {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  width: 44px;
height: 44px;
flex-shrink: 0;
}

.footer-iteam:hover {
  background-color: var(--accent-color);
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-title {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-span {
  color: var(--text-color3);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--text-color3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-email {
  color: var(--text-color4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  display: block;
}

.footer-tel {
  color: var(--text-color4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  display: block;
}

/* псевдокласи стану */

button,
a:focus {
  color: var(--accent-color);
}

button,
a {
  text-decoration: none;
}
