:root {
  --accent-color: #2196f3;
  --text-color1: #212121;
  --text-color2: #757575;
  --text-color3: #fff;
  --text-color4: rgba(255, 255, 255, 0.6);
  --text-color5: #000;
  --background-color1: #2f303a;
  --background-color2: #fff;
  --background-color3: #f5f4fa;
}

/* font-family */

body {
  font-family: Roboto;
}

/* header */

header {
  background-color: var(--background-color2);
}

.header-span {
  color: var(--text-color5);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.03em;
}

.header-title {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-link {
  color: var(--text-color1);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-email {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-tel {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* hero */

.hero {
  background-color: var(--background-color1);
}

.hero-title {
  color: var(--text-color3);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36363636364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--text-color3);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

/* activity */

.activity {
  background-color: var(--background-color2);
}

.activity-subtitle {
  color: var(--text-color1);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.activity-text {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71428571429;
  letter-spacing: 0.03em;
}

.activity-title {
  color: var(--text-color1);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

/* personnel */

.personnel {
  background-color: var(--background-color3);
}

.personnel-title {
  color: var(--text-color1);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.personnel-subtitle {
  color: var(--text-color1);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.personnel-name {
  color: var(--text-color2);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* footer */

footer {
  background-color: var(--background-color1);
}

.footer-title {
  color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.03em;
}

.footer-span {
  color: var(--text-color3);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.03em;
}

.footer-address {
  color: var(--text-color3);
font-size: 14px;
font-weight: 400;
line-height: 1.71428571429;
letter-spacing: 0.03em;
}

.footer-email {
  color: var(--text-color4);
font-size: 14px;
font-weight: 400;
line-height: 1.71428571429; 
letter-spacing: 0.03em;
}

.footer-tel {
  color: var(--text-color4);
font-size: 14px;
font-weight: 400;
line-height: 1.71428571429;
letter-spacing: 0.03em;
}

/* псевдокласи стану */

button,a:hover {
  color: var(--text-color3);
  background-color: var(--accent-color);
}

button,a:focus {
  color: var(--accent-color);
}

button,a {
  text-decoration: none;
}