:root {
    --accent-color: #2196F3;
    --text-color1: #212121;
    --text-color2: #757575;
    --text-color3: #FFF;
    --text-color4: rgba(255, 255, 255, 0.60);
    --background-color1: #2F303A;
    --background-color2: #FFF;
    --background-color3: #F5F4FA;
}

/*background*/

header {
    background-color: var(--background-color2);
}

.hero {
    background-color: var(--background-color1);
}

.hero + .activity-personnel {
    background-color: var(--background-color2);
}

.hero + .activity-personnel + section {
    background-color: var(--background-color3);
}

footer {
    background-color: var(--background-color1);
}

/*font-family*/

body {
    font-family: Roboto;
}



