.bacdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--background-color2);
  border-radius: 4px;
  background: var(--text-color3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.modal-list {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 40px;
}

.modal-title {
  color: var(--text-color1);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  padding-top: 40px;
}

.modal-prefix {
  color: var(--text-color2);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-field {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}

.modal-field:hover {
  border: 1px solid #2196F3; 
}

.modal-field-big:hover {
  border: 1px solid #2196F3; 
}

.field-1 {
  background-image: url(../pictures/person.svg);
  background-repeat: no-repeat;
  background-position-y: 11px;
  background-position-x: 12px;
}

.field-2 {
  background-image: url(../pictures/phone.svg);
  background-repeat: no-repeat;
  background-position-y: 11px;
  background-position-x: 12px;
}

.field-3 {
  background-image: url(../pictures/emai.svg);
  background-repeat: no-repeat;
  background-position-y: 11px;
  background-position-x: 12px;
}

.modal-field-big {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  padding-bottom: 100px;
  padding-top: 12px;
  padding-left: 16px;
}

.modal-text {
  color: var(--text-color2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-right: 7px;
}

.chekbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-chekbox {
  width: 16px;
  margin-right: 7px;
}

.modal-link {
  color: var(--accent-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-buton {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: var(--text-color3);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-top: 30px;
}

.modal-item {
  display: flex;
  flex-direction: column;
}
