:root {
  --accent-color: #2196f3;
  --text-color1: #212121;
  --text-color2: #757575;
  --text-color3: #fff;
  --text-color4: rgba(255, 255, 255, 0.6);
  --background-color1: #fff;
  --background-color2: #2f303a;
  --title-color: #000;
  --line-color: #ececec;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: solid red;
  margin: 0 auto;
}

/* background */

main {
  background-color: var(--background-color1);
}

/* font-family */

body {
  font-family: Roboto;
}

/* header */

header {
  background-color: var(--background-color1);
  border-bottom: 1px solid var(--line-color);
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  z-index: 3;
}

.after-link::after {
  opacity: 1;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -28px;
  border-radius: 2px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-list {
  display: flex;
  gap: 50px;
  margin-right: 318px;
  margin-left: 93px;
  align-items: center;
}

.header-icon-post {
  width: 16px;
  height: 12px;
  fill: var(--text-color2);
}

.header-icon-tel {
  width: 10px;
  height: 16px;
  fill: var(--text-color2);
}

.header-list-adres {
  display: flex;
  gap: 30px;
}

.header-item-ader {
  display: flex;
  align-items: center;
}

.header-item-ader:hover .header-icon-tel {
  fill: var(--accent-color);
}

.header-item-ader:hover .header-icon-post {
  fill: var(--accent-color);
}

.header-span {
  color: var(--text-color5);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-title {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-link {
  color: var(--text-color1);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: var(--accent-color);
}

.header-email {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header-email:hover {
  color: var(--accent-color);
}

.header-tel:hover {
  color: var(--accent-color);
}

.header-tel {
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* hero */

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.hero-list-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-ovlarey {
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1) /*, transform 450ms cubic-bezier(.39,1.05,.67,-1.17);
  transform: skewY(0); */
}

.hero-ovartext {
  color: var(--text-color3);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  max-width: 322px;
}

.hero-item-photo {
  flex-basis: calc((100% - 30px * 2) / 3);
  border: 1px solid #eee;
  padding-bottom: 20px;
  position: relative;
}

.hero-item-photo:hover .hero-ovlarey {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
  /* , transform 450ms cubic-bezier(.39,1.05,.67,-1.17)*/; 
}

.hero-item-photo:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.hero-link {
  color: var(--text-color1);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
}

.hero-link:hover {
  color: var(--text-color3);
  background-color: var(--accent-color);
}

.link {
  padding-left: 25px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: 25px;
}

.hero-title {
  color: var(--text-color1);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 4px;
  margin-top: 20px;
}

.hero-text {
  color: var(--text-color2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
}

/* footer */

footer {
  background-color: var(--background-color2);
}

.footer-subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 20px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-subcontainer:nth-child(2) {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color3);
}

.footer-iteam {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}

.footer-iteam:hover {
  background-color: var(--accent-color);
}

.footer-tab:focus .footer-iteam {
  background-color: var(--accent-color);
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-title {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-span {
  color: var(--text-color3);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--text-color3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-email {
  color: var(--text-color4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  display: block;
}

.footer-tel {
  color: var(--text-color4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
  display: block;
}

.data-buton {
  color: var(--text-color3);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: 12px;
  padding-left: 28px;
  display: flex;
  padding-right: 13px;
  gap: 10px;
  padding-top: 10px;
}

.data-container {
  display: flex;
}

.data-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color3);
}

.data-title {
  color: var(--text-color3);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.data-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  padding-left: 16px;
}

/* псевдокласи стану */

button,
a:focus {
  color: var(--accent-color);
}

button,
a {
  text-decoration: none;
}
