:root {
    --accent-color: #2196F3 ;
    --text-color1: #212121 ;
    --text-color2: #757575 ;
    --text-color3: #FFF ;
    --text-color4: rgba(255, 255, 255, 0.60);
    --background-color1: #FFF ;
    --background-color2: #2F303A ;
}

/* background */

header {
    background-color: var(--background-color1);
}
main {
    background-color: var(--background-color1);
}
footer {
    background-color: var(--background-color2);
}

/* font-family */

body {
    font-family: Roboto; 
}

/* header */

.header-li {
color: var(--text-color1);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.02em;
}

.header-email {
    color: var(--text-color2);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.02em;
}

.header-tel {
    color: var(--text-color2);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.02em;
}

/* hero */

.hero-link {
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: 0.48px;
}

/* footer */